* {
  padding: 0;
  margin: 0;
  transition: 1s ease;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

body {
  display: block;
}

/* ***************
HEADER - LOGO - NAV 
******************/

header {
  background-color: darkorange;
}
.logo {
  background-color: aqua;
  display: inline-block;
}
nav {
  display: inline-block;
  float: right;
}

/* ***************
SECTION 1 
******************/

.section-1 {
  background-color: yellowgreen;
  display: inline-block;
  width: 100%;
  height: 70vh;
}

.container {
  background-color: brown;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 30px);
  margin-top: 20px;
  gap: 10px;
}

.item-1-1s {
  background-color: yellow;
  color: magenta;
  text-transform: uppercase;
  align-self: end;
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.item-2-1s {
  background-color: aquamarine;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.item-3-1s {
  background-color: aquamarine;
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

.item-img-1s {
  background-color: aquamarine;
  grid-column: 3 / span 1;
  grid-row: 1 / span 5;
}

.item-button {
  background-color: aquamarine;
  grid-column: 1 / span 3;
  grid-row: 6 / span 1;
}

/* ***************
SECTION 2 
******************/

.section-2 {
  background-image: linear-gradient(
    to right,
    rgb(235, 90, 114),
    orange,
    rgb(201, 196, 86)
  );
  height: 20vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .section-2 {
    margin: 20px;
    border-radius: 10px;
  }
}

/* ***************
SECTION 3 
******************/

.section-3 {
  background-color: yellowgreen;
  width: 100%;
  /* height: 60vh; */
}

.icons-3s {
  background-color: brown;
  display: flex;
}

.a {
  width: 50%;
}

.text-3s {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .icons-3s {
    flex-wrap: wrap;
    background-color: gray;
  }
  .a {
    width: 50%;
  }
}

.cards-3s {
  background-color: brown;
  display: flex;
  flex-wrap: wrap;

  /* width: 60vh; */
}

#cards-3s {
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 20vh;
  padding: 20px;
  border-radius: 10px;
  margin-left: 20px;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 10px);
}

/* ***************
SECTION 4 
******************/

.section-4 {
  background-color: yellow;
  width: 100%;
  height: 10vh;
}

/* ***************
SECTION 5 
******************/

.section-5 {
  background-color: yellowgreen;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}

.left {
  background-color: crimson;
  width: 100%;
  height: 100px;
}

.right {
  background-color: blue;
  /* width: 100%; */
  height: 100px;
  display: flex;
  flex-direction: row;
  /* float: right; */
}

@media (min-width: 600px) {
  .section-5 {
    flex-direction: row;
  }

  .left {
    width: 50%;
  }
  .right {
    width: 50%;
  }
}

.mini-icons-3s {
  background-color: cornflowerblue;
  width: 100%;
  height: 10px;
  display: flex;
  flex-direction: row;
  float: left;
}

.right-items {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 600px) {
  .section-5 {
    height: 250px;
  }
  .right {
    background-color: rgb(37, 236, 67);
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 200px; */
  }
}

/* ***************
FOOTER 
******************/

footer {
  background-color: orange;
}
footer p {
  color: grey;
}
